<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="cnstr" connectionString="Server =Data Source=LAPTOP-10UI7HC0\PARZIVAL; Database =QLThuVien;Integrated Security = true "
            providerName=" System.Data.SqlClient" />
      <add name="LapTrinhCoSoDuLieu.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=LAPTOP-10UI7HC0\PARZIVAL;Initial Catalog=QLThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>